.heading{
    width: 100%;
    text-align: left;
    font-size: 28px;
    font-family: 'Overpass Mono', monospace;
}
#instructions{
    border: 2px white solid;
    float: right;
}
body{
    background-size: cover;
    background-position: center;
    width: 100%;
}
.head{
    color: black;
    display: inline;
}
canvas{
    border: white 5px solid;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}
@keyframes example{
    from{
        box-shadow: 15px 15px 10px white;
    }to{
        box-shadow: 15px 15px 10px cyan;
    }
}
.modal-body{
    text-align: left;
}
.btn-danger{
    float: right;
    margin-right: 70px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px white ridge;
    animation-name: example2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.btn-danger{
    float: right;
    margin-right: 70px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px white ridge;
    animation-name: example2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example2{
    from{
        background-color: #b47172;
        color: dodgerblue;
    }to{
        background: #5bc0de;
        color: green;
    }
}
#footer{
    font-size: 25px;
    line-height: 2;
    background: rgb(188, 183, 183);
    color: white;
    width: 100%;
    margin: 0;
}